.error{
    background-color: grey;
    height: 681px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.error p,.backHome{
color: white;
font-size: 36px;
}

.backHome :hover{
   color: red;
   text-decoration: underline;
    }
